@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Space+Grotesk:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-void-black text-gray-200 font-sans overflow-x-hidden cursor-none; /* Hide default cursor */
    user-select: none;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-mono text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-void-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-deep-violet rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neon-cyan;
}
